.min-width-vw-65 {
    min-width: 65vw;
}
.min-width-vw-85 {
    min-width: 85vw;
}
.margin-center {
    margin: 0 auto;
}
.gp-em-05 {
    gap: 0.5em;
}

//vuetify

.v-navigation-drawer__scrim {
    position: fixed !important;
}
